<div class="container">
  <header>
    <h1>Entities</h1>
    <p class="subtitle">People, places, and things in the news</p>
  </header>

  <nav class="categories">
    <%= link_to "All", entities_path, class: params[:type].blank? ? "active" : nil %>
    <% Entity::TYPES.each do |type| %>
      <%= link_to type.titleize.pluralize, entities_path(type: type), class: params[:type] == type ? "active" : nil %>
    <% end %>
  </nav>

  <div class="entities-list">
    <% @entities.each do |entity| %>
      <div class="entity-card">
        <span class="entity-type <%= entity.entity_type %>"><%= entity.entity_type %></span>
        <%= link_to entity.name, entity_path(entity), class: "entity-name" %>
        <span class="entity-count"><%= entity.articles_count %> article<%= entity.articles_count == 1 ? '' : 's' %></span>
      </div>
    <% end %>
  </div>
</div>
