<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title><%= content_for(:title) || "News Digest Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag 'styles/application.css', media: 'all' %>
  </head>

  <body class="min-h-screen bg-background text-foreground antialiased">
    <%= yield %>
    <%= vite_javascript_tag 'application.tsx' %>
  </body>
</html>
